:root {
    --main-bg-color: black;
    --secodary-bg-color: black;
    --navbar-bg-color: transparent;
    --accent-bg-color: rgba(107, 112, 196);
    --secondary-accent-bg-color: rgba(196, 140, 209);
    --third-accent-bg-color: rgba(40, 160, 153);
    --fourth-accent-bg-color: rgba(132, 153, 0);
    --fifth-accent-bg-color: rgba(205, 74, 46);
    --sixth-accent-bg-color: rgba(219, 51, 46);
    --seventh-accent-bg-color: rgba(212, 51, 135);
    --eight-accent-bg-color: rgba(212, 51, 135);
    --touchable-bg-color: rgba(245,74,83);
    --small-margin: 25px;
    --big-margin: 50px;
  }
  
  .background_color_accent {
    background-color: var(--accent-bg-color);
  }

  .background_color_accent_sec {
    background-color: var(--secondary-accent-bg-color);
  }

  .background_color_accent_third {
    background-color: var(--third-accent-bg-color);
  }

  .background_color_accent_fourth {
    background-color: var(--fourth-accent-bg-color);
  }

  .background_color_accent_fifth {
    background-color: var(--fifth-accent-bg-color);
  }

  
.padding-left-20 {
  padding-left: 10px;
}
  .uniform_small_margin {
    margin: var(--small-margin);
  }
  
  .uniform_big_margin {
    margin: var(--big-margin);
  }

  .bottom_big_margin {
    margin-bottom: var(--big-margin);
  }

  .top_big_margin {
    margin-top: var(--big-margin);
  }

  .left_big_margin {
    margin-left: var(--big-margin);
  }


  .bottom_small_margin {
    margin-bottom: var(--small-margin);
  }

  .text_color_accent {
    color: var(--accent-bg-color);
  }

  .text_color_black {
    color: black;
  }

  .text_color_accent:hover {
    color: var(--accent-bg-color);
  }

  .text_color_main:hover {
    color: var(--main-bg-color);
  }

  .text_decoration {
      text-decoration: underline;
      text-decoration-color: var(--accent-bg-color);
  }

  .accent_bottom_border {
    border-bottom: 1px solid var(--accent-bg-color);
}

.accent_right_border {
  border-right: 1x solid var(--accent-bg-color);
}

.accent_left_border {
  border-left: 1px solid var(--accent-bg-color);
}

.accent_top_border {
    border-top: 1px solid var(--accent-bg-color);
}


.img_color_accent {
        -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }

  .img_color_black {
    -webkit-filter: invert(100%) grayscale(100%) brightness(70%) contrast(4);
    filter: invert(100%) grayscale(100%) brightness(70%) contrast(4);
}

.fill { 
  min-height: 100%;
  height: 100%;
}

section:nth-child(even) {
  background-color: #1c1c1c;
  color: #dbdbdb;
  }
  
  /* img { */
    /* verical-align: middle;
    :hover {
      cursor: pointer;
      .red {
        -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
      }
      .blue {
        -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
        filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
      }
      .green {
        -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
      }
      .yellow {
        -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
        filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
      }
      .grey {
        -webkit-filter: grayscale(100%) brightness(110%) contrast(0.9);
        filter: grayscale(100%) brightness(110%) contrast(0.9);
      }
      .black {
        -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
        filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
      }
    }
  } */